<ion-header>
  <ion-navbar color="secondary" >
    
    <ion-title>{{ title }}</ion-title>

  </ion-navbar>
</ion-header>

<ion-content dir="rtl" padding class="card-background-page">

  <ion-card *ngFor="let video of videos" (click)="openVideo(video)">
    <img class="card-img" [src]="video.image" height="parent"/>
    <span class="card-info">
      <div class="card-subtitle">{{ video.viewCount }} مشاهدة</div>
      <div class="card-title">{{video.title}}</div>
    </span>
    <span class="card-time">
      <div class="video-time">{{ video.duration }}</div>
    </span>
  </ion-card>

  <!--<ion-infinite-scroll *ngIf="videos.length < 50" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>-->

  <button class="more-btn"  *ngIf="videos.length > 0" ion-button center (click)="openMore()" >المزيد</button>

</ion-content>