
<ion-header>
  <ion-navbar color="primary" >
    
    <ion-title>صفي ذهنك</ion-title>

    <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
    </button>

    <ion-buttons end>
      <button ion-button icon-only (click)="openSearchModal()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content dir="rtl" padding class="card-background-page">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
      
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let video of videos" (click)="openVideo(video)">
    <img class="card-img" [src]="video.image" height="parent"/>
    <span class="card-info">
      <div class="card-subtitle">{{ video.viewCount }} مشاهدة</div>
      <div class="card-title">{{video.title}}</div>
    </span>
    <span class="card-time">
      <div class="video-time">{{ video.duration }}</div>
    </span>
  </ion-card>

  <ion-infinite-scroll *ngIf="videos.length < 50" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <button class="more-btn"  *ngIf="videos.length >= 50" ion-button center (click)="openMore()" >المزيد</button>

</ion-content>
