page-video-detail {
    ion-navbar {
        background: none;
    }
    .video-profile {
        width: 100%;
        background-position: center center;
        background-size: cover;
        height: 36%;
        display: flex;
    }

    .video-detail {
        width: 100%;
        background: white;
        padding-top: 0;
    }

    .next-prev {
        width: 100%;
        text-align: center;
        position: absolute;
        margin: 0 auto;
        bottom: 100px;
    }

    .play-ico {
        margin: auto;
        display: block;
        height: 20%;
    }

    .center {
        text-align: center;
    }

    .share-btn {
        bottom: 52px;
    }

    .watched-icon{
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: medium;
        text-align: left;
        width: 100%;
        color: #D32F2F;
        text-align: right;
    }
}
